$
$ Input file template for WW3_multi with NUOPC support
$
$ 1 0 T 1 T T saeed cganged
1 0 F 1 T T
$
$ 'points' commented by Saeed
$
$ 'inlet'  'no' 'no' 'CPL:native' 'no' 'no' 'no' 'no'   1  1  0.00 1.00  F  saeed changed
$ 'inlet'  'no' 'no' 'CPL:native' 'no' 'no' 'no' 'no' 'no' 'no'  1  1  0.00 1.00  F  saeed changed no wind
  'inlet'  'no' 'no' 'no' 'no' 'no' 'no' 'no' 'no' 'no'  1  1  0.00 1.00  F
$ 
 $start_pdy $end_pdy
$
$ T T saeed cganged
F F
$
 $start_pdy $dt_out_sec $end_pdy
 N
 WND HS FP DP WLV CUR DPT
$
 $start_pdy $dt_out_sec $end_pdy
-76.948  34.210  '41159     '
0.E3 0.E3 'STOPSTRING'
$
 $start_pdy 0 $end_pdy
$
 $start_pdy $dt_hot_sec $end_pdy
$
 $start_pdy 0 $end_pdy
$
 $start_pdy 0 $end_pdy
$
 'the_end'  0
$
 'STP'
$
$ End of input file
$
